.container
{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
}

.card-title
{
    background: lightcyan;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.card-body
{
    background: lightgoldenrodyellow;
}

.card-subtitle
{
    background: lightblue;
    font-weight: bold;
}


